//Example 1
.ConditionalCls{
    color:green;
    font-size: 20px;
}

//Example 2
.Padding10{
    padding: 10px;
}

.FontSize20{
    font-size: 20px;
}

.Border{
    border: 1px red solid;
}

//Example 3
.boldClass{
    font-weight: bold;
}

.italicsClass{
    font-style: italic;
}