<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Style Binding</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Data Binding</li>
                    <li class="breadcrumb-item active">Style Binding</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="far fa-circle nav-icon text-danger"></i>
                            Style Binding Example
                        </h3>
                    </div>
                    <div class="card-body pad table-responsive">
                        <h5>Example:1</h5>
                        <p [style.background-color]="bgColor">Single style</p>
                        <h5>Example:2</h5>
                        <p [style]="multiStyle">Multiple style</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>