<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 translate>Home_Menu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item" translate>Home_Menu</li>
                    <li class="breadcrumb-item active" translate>MainPage_Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            Access data in whole application Example
                        </h3>
                    </div>
                    <div class="card-body pad table-responsive">
                        <p>
                            <label>Service Message: </label> {{serviceMsg}}
                        </p>
                        <p>
                            <label>Session Message: </label> {{sessionMsg}}
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>